.Title{
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
    text-align: center;
    font-size: 70px;
    color: white;
    margin:0 auto;
}

html,body {
    width: 100%;
    height: auto;
    /*overflow: hidden;*/
}

body{
    background: #16a085;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    position: absolute;
}

.intro {
    /*position: absolute;*/
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.main{
    width: 100%;
    max-width: 1500px;
    margin:0 auto;
    margin-bottom: 70px;
}


/*instruction*/
#info {
    font-size: 24px;
}

#Instruction{
    margin-right: 50px;
    font-size: 20px;
}

/*the stage of the game*/
.show1 {
    position: relative;
    width: 15%;
    float:left;
    margin-left: 30px;
}

#stage {
    font-size: 20px;
}

/*player information*/
#player {
    font-size: 20px;
    position: relative;
}


/*playing game area*/
#game_area {
    width:57%;
    float:left;
    position: relative;
}

#table_area {
    width: 800px;
    height: 750px;
    font-size: 30px;
    float:left;
}

#table {
    width: 600px;
    height: 450px;
    margin-left: 125px;
    margin-top: 50px;
}

.td {
    border: 1px solid black;
    width: 54px;
    height: 54px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}
.td:hover{
    transform: scale(1.2);
}
.td img{
    width: 55px;
    height: 55px;
    margin: 0em;
    vertical-align: middle;
}

img {
    width: 55px;
    height: 55px;
    margin:15px;
    vertical-align: middle;

}

img:hover{
    transform: scale(1.2);
}
/*the button of finishing setting */
#b {
    margin-top: 20px;
    position: relative;
}

#move{
    margin-top: 20px;
    position: relative;
}

#start button {
    position: relative;
    font-family: "Apple Braille";
    font-size: 22px;
    font-weight: bold;
    background-color:#F39C12;
    display: inline-block;
    width: 80px;
    height: 80px;
    transition: 0.7s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 60%;
    color: #ffffff;
}
#exit button {
    position: relative;
    font-family: "Apple Braille";
    font-size: 22px;
    font-weight: bold;
    background-color:#F39C12;
    display: inline-block;
    width: 80px;
    height: 80px;
    transition: 0.7s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 60%;
    color: #ffffff;
}


button:hover {
    color:#196F3D;
    background-color: #fff;
    transform: scale(1.3);
}

#move button {
    position: relative;
    font-family: "Apple Braille";
    /*font-family: futura, helvetica, sans;*/
    font-size: 22px;
    font-weight: bold;
    background-color: #569dbe;
    display: inline-block;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 80%;
    color: #ffffff;
}

#killer_button button {
    position: relative;
    font-family: "Apple Braille";
    /*font-family: futura, helvetica, sans;*/
    font-size: 22px;
    font-weight: bold;
    background-color: #569dbe;
    display: inline-block;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 80%;
    color: #ffffff;
}



#textfield {
    position: relative;
    background: transparent;
    /*padding: 15px;*/
    margin:0 auto;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-size: 20px;
    /*margin-left: 200px;*/
    /*margin-top: 50px;*/
    text-align: center;
}

#user{
    font-size: 24px;
}
#killer_turn{
    font-size: 24px;
}
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }
    h1::after {
        height: 8px;
    }
}

@media only screen and (max-width: 568px) {
    .intro {
        padding: 0 10px;
    }
    h1 {
        font-size: 30px;
    }
    h1::after {
        height: 6px;
    }
    p {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    h1::after {
        height: 4px;
    }
}